<?xml version="1.0"?>
<configuration>
  <sitecore xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <settings>
      <setting name="RoleTransformationRootItemId" value="{D65C7354-4B9F-409B-A621-2B023D435E58}" />
    </settings>
    
    <controlSources>
      <source mode="on" namespace="Foundation.GroupToRoleMapper.Fields" assembly="Foundation.GroupToRoleMapper" prefix="customcontrol"/>
    </controlSources>
    
    <federatedAuthentication>
      <identityProviders>
        <identityProvider id="SitecoreIdentityServer" >
          <transformations hint="list:AddTransformation">
            <transformation name="map roles from Sitecore" 
                            type="Foundation.GroupToRoleMapper.IdentityServer.Transformations.ClaimsToRolesTransformation, Foundation.GroupToRoleMapper"
                            patch:after="transformation[@type='Sitecore.Owin.Authentication.IdentityServer.Transformations.ApplyAdditionalClaims, Sitecore.Owin.Authentication.IdentityServer']" resolve="true" />
          </transformations>
        </identityProvider>
      </identityProviders>

      <propertyInitializer>
        <maps>
          <map name="set FullName" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <source name="name" />
              <target name="FullName" />
            </data>
          </map>
        </maps>
      </propertyInitializer>
      
    </federatedAuthentication>
  </sitecore>
</configuration>
